# Import Library

In [394]:
import pandas as pd
import numpy as np

# Import Data

In [396]:
benchmark = pd.read_csv('data/voc_benchmark_monthly.csv')
user_experience = pd.read_csv('data/voc_user_experience_monthly.csv')
network_perfomance = pd.read_csv('data/voc_network_perfomance_monthly.csv')

# Get user input kpi list

In [398]:
benchmark_list = list(benchmark.columns)
benchmark_list = [item for item in benchmark_list if item not in ['location_id', 'month', 'location', 'operator']]
benchmark_list = pd.DataFrame(benchmark_list,  columns=['kpi_name'])
benchmark_list['category'] = 'benchmark'

user_experience_list = list(user_experience.columns)
user_experience_list = [item for item in user_experience_list if item not in ['location_id', 'month', 'location', 'operator']]
user_experience_list = pd.DataFrame(user_experience_list,  columns=['kpi_name'])
user_experience_list['category'] = 'user_experience'

network_perfomance_list = list(network_perfomance.columns)
network_perfomance_list = [item for item in network_perfomance_list if item not in ['location_id', 'month', 'location', 'operator']]
network_perfomance_list = pd.DataFrame(network_perfomance_list,  columns=['kpi_name'])
network_perfomance_list['category'] = 'network_perfomance'

kpi_list = pd.concat([benchmark_list, user_experience_list, network_perfomance_list], axis=0, ignore_index=True)
kpi_list

                                          kpi_name            category
0                                     enodeb_share           benchmark
1            onx_avg_initialbufferinterval_overall           benchmark
2                    onx_avg_stalling_time_overall           benchmark
3                 onx_avg_video_throughput_overall           benchmark
4      onx_codingsegmentsdurationaveragehd_overall           benchmark
5   onx_codingsegmentsdurationpercentagehd_overall           benchmark
6                       onx_download_speed_overall           benchmark
7                                          onx_ecq           benchmark
8               onx_sum_stalling_occurance_overall           benchmark
9                           onx_udp_jitter_overall           benchmark
10                         onx_udp_latency_overall           benchmark
11                      onx_udp_packetloss_overall           benchmark
12                        onx_upload_speed_overall           benchmark
13                             sample_qualitymatch           benchmark
14                      tutela_download_throughput           benchmark
15                        tutela_excellent_quality           benchmark
16                           tutela_game_parameter           benchmark
17                            tutela_good_coverage           benchmark
18                             tutela_good_quality           benchmark
19                                   tutela_jitter           benchmark
20                                  tutela_latency           benchmark
21                               tutela_packetloss           benchmark
22                        tutela_upload_throughput           benchmark
23                          tutela_video_score_all           benchmark
24                      tutela_video_score_netflix           benchmark
25                      tutela_video_score_youtube           benchmark
26                                       cei_score     user_experience
27                                      stream_qoe     user_experience
28                                    web_page_qoe     user_experience
29                                          im_qoe     user_experience
30                                   f_sharing_qoe     user_experience
31                                       games_qoe     user_experience
32                     ccis_data_service_complaint     user_experience
33                           ccis_signal_complaint     user_experience
34            ccis_voice_and_sms_service_complaint     user_experience
35                               availability_rate  network_perfomance
36                         call_setup_success_rate  network_perfomance
37                                 ccsr_voice_rate  network_perfomance
38                            nr_availability_rate  network_perfomance
39                           nr_retainability_rate  network_perfomance
40                        nr_sn_setup_success_rate  network_perfomance
41         nr_user_throughput_dl_mbps_relactuserdl  network_perfomance
42                                ows_availability  network_perfomance
43                                sd_setup_sr_rate  network_perfomance
44                          volte_accessibility_sr  network_perfomance
45                        volte_retainability_rate  network_perfomance

In [399]:
benchmark_select = input('Select KPI index from Benchmark Group : ')
benchmark_select = benchmark_select.split(' ')
benchmark_select = list(map(int, benchmark_select))
benchmark_select = [item for item in benchmark_select if item in range(0, 26)]
benchmark_select = list(set(benchmark_select))
benchmark_select.sort()

user_experience_select = input('Select KPI index from User Experience Group : ')
user_experience_select = user_experience_select.split(' ')
user_experience_select = list(map(int, user_experience_select))
user_experience_select = [item for item in user_experience_select if item in range(26, 35)]
user_experience_select = list(set(user_experience_select))
user_experience_select.sort()

network_perfomance_select = input('Select KPI index from Network Perfomance Group : ')
network_perfomance_select = network_perfomance_select.split(' ')
network_perfomance_select = list(map(int, network_perfomance_select))
network_perfomance_select = [item for item in network_perfomance_select if item in range(35, 46)]
network_perfomance_select = list(set(network_perfomance_select))
network_perfomance_select.sort()

Select KPI index from Benchmark Group :  0 1
Select KPI index from User Experience Group :  26
Select KPI index from Network Perfomance Group :  36 37

In [400]:
selected_kpi = pd.DataFrame()
selected_kpi = selected_kpi = pd.concat([selected_kpi, benchmark.iloc[:,[0,1,2]]], axis=1)

for x in benchmark_select:
    col_name = kpi_list.iloc[x, 0]
    selected_kpi = pd.concat([selected_kpi, benchmark.loc[:,col_name]], axis=1)

for x in user_experience_select:
    col_name = kpi_list.iloc[x, 0]
    selected_kpi = selected_kpi.merge(user_experience.loc[:,['location_id', 'month', col_name]], on=['location_id', 'month'], how='left')

for x in network_perfomance_select:
    col_name = kpi_list.iloc[x, 0]
    selected_kpi = selected_kpi.merge(network_perfomance.loc[:,['location_id', 'month', col_name]], on=['location_id', 'month'], how='left')

In [401]:
selected_kpi

,location_id,month,location,enodeb_share,onx_avg_initialbufferinterval_overall,cei_score,call_setup_success_rate,ccsr_voice_rate
0,1101,1,SIMEULUE,100.000000,5281.312460,NaN,99.468500,98.849754
1,1101,2,SIMEULUE,98.954684,4583.597671,NaN,99.267712,98.663773
2,1101,3,SIMEULUE,98.176591,4967.706891,NaN,99.533186,98.821584
3,1101,4,SIMEULUE,99.722222,5706.852850,NaN,99.568000,98.994644
4,1101,5,SIMEULUE,99.234905,5066.375307,49.648199,99.615846,99.034299
...,...,...,...,...,...,...,...,...
6164,9471,8,KOTA JAYAPURA,97.934953,3158.184962,43.766098,99.214066,99.869740
6165,9471,9,KOTA JAYAPURA,94.999472,3355.011220,48.930603,99.778810,99.885244
6166,9471,10,KOTA JAYAPURA,97.156268,3360.739521,50.929844,99.818961,99.871968
6167,9471,11,KOTA JAYAPURA,96.657371,3583.417121,54.398167,99.752254,99.871580
6168,9471,12,KOTA JAYAPURA,96.130033,3551.869867,57.998184,99.802014,99.861211

# Get user input month

In [403]:
try:
    month = input('Enter Month : ')
    month_list = month.split(' ')
    month_list = list(map(int, month_list))

    for x in month_list:
        if x < 1 or x > 12:
            print('Error')
            del month_list
            break
        else:
            continue
except:
    del month_list
    print("Error")

month_list

Enter Month :  11 12

[11, 12]

In [404]:
if len(month_list) > 1:
    selected_kpi = selected_kpi[selected_kpi['month'].isin(month_list)]
else:
    selected_kpi = selected_kpi[selected_kpi['month'] == month_list[0]]
    
#selected_kpi = selected_kpi.reset_index()
selected_kpi

,location_id,month,location,enodeb_share,onx_avg_initialbufferinterval_overall,cei_score,call_setup_success_rate,ccsr_voice_rate
10,1101,11,SIMEULUE,98.024015,4576.232056,39.839798,99.345044,99.162088
11,1101,12,SIMEULUE,99.615764,3213.279762,38.565980,99.408007,98.983814
22,1102,11,ACEH SINGKIL,67.282329,3610.841829,48.313122,99.446446,98.961901
23,1102,12,ACEH SINGKIL,74.410796,4018.450794,46.205982,98.466782,98.645915
34,1103,11,ACEH SELATAN,88.234453,4524.373432,44.200352,99.477445,99.419361
...,...,...,...,...,...,...,...,...
6144,9435,12,INTAN JAYA,75.862069,5615.333333,NaN,99.434543,NaN
6155,9436,11,DEIYAI,26.666667,2261.555556,39.574418,99.330176,99.211051
6156,9436,12,DEIYAI,41.379310,4810.916667,37.846337,99.305493,99.130747
6167,9471,11,KOTA JAYAPURA,96.657371,3583.417121,54.398167,99.752254,99.871580
6168,9471,12,KOTA JAYAPURA,96.130033,3551.869867,57.998184,99.802014,99.861211

# Aggregate per month

In [406]:
selected_kpi_agg = selected_kpi.groupby(['location_id', 'location']).mean()
del selected_kpi_agg['month']
selected_kpi_agg = selected_kpi_agg.reset_index()
selected_kpi_agg

,location_id,location,enodeb_share,onx_avg_initialbufferinterval_overall,cei_score,call_setup_success_rate,ccsr_voice_rate
0,1101,SIMEULUE,98.819889,3894.755909,39.202889,99.376526,99.072951
1,1102,ACEH SINGKIL,70.846563,3814.646311,47.259552,98.956614,98.803908
2,1103,ACEH SELATAN,90.042483,4210.374871,43.589083,99.467589,99.388515
3,1104,ACEH TENGGARA,90.791036,5796.215219,35.139632,98.623316,99.051887
4,1105,ACEH TIMUR,81.575234,5000.427586,44.206753,99.392881,99.159862
...,...,...,...,...,...,...,...
510,9433,PUNCAK,45.689655,3647.583333,30.736576,91.493367,99.540894
511,9434,DOGIYAI,50.517241,7989.166667,40.016144,99.432660,98.729085
512,9435,INTAN JAYA,74.597701,6182.666667,NaN,99.396649,NaN
513,9436,DEIYAI,34.022989,3536.236111,38.710378,99.317835,99.170899
514,9471,KOTA JAYAPURA,96.393702,3567.643494,56.198176,99.777134,99.866395

# Export to csv

In [408]:
selected_kpi.to_csv('selected_kpi.csv')
selected_kpi_agg.to_csv('selected_kpi_agg.csv')

In [419]:
selected_kpi_html = selected_kpi.to_html(classes='table table-striped', index=False)